.form-container {
	display: flex;
  gap: 1.25em;
  flex-wrap: wrap;
	justify-content: center;
	margin: 5em 3.125em;

	font-family: 'Open Sans', sans-serif;
}

.form-container form {  
  flex: 1;
	padding: 2.25em 4em;
  
  min-width: 35%;

	background-color: #f2f2f2;
	border-radius: 1.25em;
	box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.08);
}

.form-container h2 {
	text-align: center;
}
