.villain {
	width: 280px;
	margin-bottom: 64px;
}

.villain .header {
	background-color: #f0f0f0;
	border-radius: 10px 10px 0px 0px;
}
.villain img {
	position: relative;
	bottom: -50px;

	width: 100px;

	border-radius: 50%;
}

.villain .footer {
	padding-top: 60px;
	padding-bottom: 40px;

	background: #ffffff;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
	border-radius: 0px 0px 10px 10px;
}

.villain .footer h4 {
	margin-bottom: 8px;

	color: #6278f7;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.villain .footer h5 {
	padding: 0 16px;

	font-size: 18px;
	line-height: 22px;
	color: #212121;
}

.villain .footer p {
	margin: 0 24px;

	text-align: justify;
	font-size: 14px;
}
